.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainTable {
  border: solid blue 2px;
  width: 40%;
}
.MainTable h1 {
  color: cornflowerblue;
}
.CountryTable {
  margin: 15px;
  border: solid lightgreen 15px;
}
.CountryTable h2 {
  color: mediumslateblue;
}
.ScoreTable {
  border: solid black 2px;
  padding: 0 10px 10px 10px;
  margin: 5px;
}

.LineTable {
  border-bottom: solid black 2px;
  width: 100%;
  text-align: right;
}
.Name {
  width: 50%;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
.Score {
  width: 50%;

  font-weight: bold;
  font-size: 1.5rem;
  color: maroon;
}
